{% extends 'base.html' %}
{% block title %}Geolocation Web Service{% endblock title %}
{% block content %}
  <div>
  {% include 'messages.html' %}
  {% if map %}
    <iframe id="map" width="100%" height="300px" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="{{ map }}"></iframe>
  {% endif %}
  </div>
  <div>
    {% if data %}
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Subdivision</th>
                <th>Timezone</th>
                <th>Latitude</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ data.subdivision|first }}</td>
                <td><a href="http://en.wikipedia.org/wiki/{{ data.timezone }}" target="_blank">{{ data.timezone }}</a></td>
                <td><a href="https://www.google.com.au/maps/preview/@{{ data.latitude }},{{ data.longitude }},{{ data.accuracy +5 }}z" target="_blank">{{ data.latitude }}</a></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>Country</th>
                <th>Accuracy</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ data.country }}</td>
                <td>{{ data.accuracy }}</td>
                <td><a href="https://www.google.com.au/maps/preview/@{{ data.latitude }},{{ data.longitude }},{{ data.accuracy +5 }}z" target="_blank">{{ data.longitude }}</a></td>
            </tr>
        </tbody>
    </table>
    {% endif %}
  </div>
  {% include 'docs.html' %}
{% endblock content %}